@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next::before,
.slick-prev::before {
  color: #000 !important;
}

.slick-dots {
  bottom: 6px !important;
}

.custom-slider .slick-dots {
  bottom: -20px; /* Adjust this value to move the dots lower */
}

.custom-slider .slick-slider {
  height: 100%;
}

.custom-slider .slick-slide {
  height: 100%;
}

.custom-slider .slick-list {
  height: 100%;
}